/*
===============================
MENU
===============================
*/


div#menu{
	margin: 0 auto;
	width: 100%;
	height: 20em;
	box-shadow: 
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC; 
    overflow-y: auto;
}

div.menu-item{
	height: 20%;
	margin: 1px;
	cursor: pointer;
	border: 1px solid black;
}

div.menu-item:hover{
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	zoom: 110%;
	transition: all 0.2s ease-in;
}



@keyframes swoon-in {
	0% {
		
	}
}