/*
===============================
MENU
===============================
*/


div#menu{
	z-index: 0;
	text-align: center;
	width: 100%;
	z-index: 0;
	box-shadow:
        inset 0px -11px 8px -10px #CCC;
  overflow-y: hidden;
	overflow-x: hidden;
	margin-bottom: -10px;
}

div.menu-item{
	display: inline-block;
	height: 4em;
	width: 10%;
	min-width: 200px;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 2;
	background: #7B9475;
}

div.menu-item:hover{
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	transition: all 0.2s ease-in;
	cursor: pointer;
	overflow-x: hidden;
	background: #98AD92;
	transform: scale(1.2);
	z-index: 4;
}


div#debug{
	z-index: 0;
}



@keyframes swoon-in {
	0% {

	}
}
